@import "global";
@import "fonts";
.content-inner {
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
    .btn-inner {
        margin: 40px auto;
        .btn {
            max-width: 300px;
            background-color: #ccc;
            padding: 20px 40px;
            cursor: pointer;
            &:hover{
                background-color: #000;
                a{
                    color: #fff;
                }
                transition-duration: 0.5s;
            }
        }
    }
}

@import "media";
